.tabs
	width: 100%
	margin-top: 150px

	&__header
		display: flex
		justify-content: center
		flex-wrap: wrap

		&-item
			margin: 0 25px
			cursor: pointer

			&.active
				color: red

	&__content
		margin-top: 50px
		display: flex
		justify-content: center
		align-items: center
		+adaptive-font(70, 40)
