.select
	position: relative
	margin: 0 auto
	width: 250px

	&.is-active
		.select__body
			display: block

	&__header
		display: flex
		border: 1px solid #ccc
		cursor: pointer

	&__current
		padding: 8px
		font-size: 18px
		line-height: 24px

	&__icon
		display: flex
		flex-shrink: 0
		align-items: center
		justify-content: center
		margin-left: auto
		width: 40px
		height: 40px
		text-align: center

	&__body
		position: absolute
		left: 0
		right: 0
		top: 100%
		display: none
		border: 1px solid #ccc
		border-top: 0

	&__item
		padding: 8px
		font-size: 16px
		line-height: 24px
		cursor: pointer

	&__item:hover
		background-color: #f2f2f2
