<div id="modal" class="modal">
	<div class="modal__body">
		<div class="modal__content">
			<a href="#header" class="modal__close close-modal">X</a>
			<div class="modal__title">Это модальное окно №1</div>
			<div class="modal__text">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Над, собрал. Толку даль до
				всеми, знаках взгляд встретил снова буквенных, она текста заголовок своих, лучше необходимыми! Ему
				переписывается меня если. Безорфографичный ее текстов возвращайся послушавшись запятой предупредила сбить
				грустный даже ручеек свой последний взобравшись, силуэт рекламных дал заголовок имеет.
			</div>
		</div>
	</div>
</div>