<div data-spollers data-one-spoller class="spollers">
	<div class="spollers__item">
		<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset"><span>Обычный спойлер
				№1</span></button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla, laborum illo enim qui
			eum architecto soluta, quos provident natus nobis a et aspernatur, labore fuga aliquam!
		</div>
	</div>
	<div class="spollers__item">
		<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Обычный спойлер №2</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla, laborum illo enim qui
			eum architecto soluta, quos provident natus nobis a et aspernatur, labore fuga aliquam!
		</div>
	</div>
	<div class="spollers__item">
		<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Обычный спойлер №3</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla, laborum illo enim qui
			eum architecto soluta, quos provident natus nobis a et aspernatur, labore fuga aliquam!
		</div>
	</div>
</div>

<div data-spollers="650,min" class="spollers">
	<div class="spollers__item">
		<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Спойлер работает на экранах >=
			650px</button>
		<div class="spollers__text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas hic numquam magni. Nulla, laborum illo enim qui
			eum architecto soluta, quos provident natus nobis a et aspernatur, labore fuga aliquam!
		</div>
	</div>
</div>