.slider-wrap
	position: relative
	overflow: hidden
	width: 600px
	height: auto
	margin: 20px 0
	border: 2px $accent-color dashed
	border-radius: 20px

.swiper

	&-btn
		z-index: 5
		position: absolute
		width: 30px
		height: 30px
		top: 50%
		transform: translateY(-50%)
		+bg-center

		&--next
			right: 20px
			background-image: url("../img/sliders/next-arrow.svg")

		&--prev
			left: 20px
			background-image: url("../img/sliders/prev-arrow.svg")
