<div class="slider-wrap">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" data-srcset="img/sliders/slide-item-1.webp" type="image/webp">
					<img class="lazyload swiper-slide__item" data-src="img/sliders/slide-item-1.jpg" alt="Слайд">
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" data-srcset="img/sliders/slide-item-2.webp" type="image/webp">
					<img class="lazyload swiper-slide__item" data-src="img/sliders/slide-item-2.jpg" alt="Слайд">
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source class="lazyload swiper-slide__item" data-srcset="img/sliders/slide-item-3.webp" type="image/webp">
					<img class="lazyload swiper-slide__item" data-src="img/sliders/slide-item-3.jpg" alt="Слайд">
				</picture>
			</div>
		</div>
		<div class="swiper-btn swiper-btn--prev btn-reset"></div>
		<div class="swiper-btn swiper-btn--next btn-reset"></div>
	</div>
</div>